<strong>Olá, {{ deliveryman }}</strong>
<p>Houve um cancelamento do seu pedido de número {{ idPedido }}, confira os dados abaixo:</p>
<p>
  <strong>Produto:</strong> {{ product }} <br />
  <strong>Data/hora do cancelamento: </strong> {{ date }} <br />
</p>